@import url("https://fonts.cdnfonts.com/css/inter");

.first {
  display: flex;
  justify-content: space-between;
}

.header-first {
  display: none;
}

.second-text {
  font-size: 20px;
}

.second-text1 {
  font-size: 40px;
}

.second {
  background-image: url(./images/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  padding: 10px 15px 15px 10px;
  font-family: "Inter", sans-serif;
}

.third {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  vertical-align: top;
  color: #172b4d;
}

.socials {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
  padding: 5px;
  gap: 20px;
}

.socials-list {
  width: 30px;
  height: 30px;
}

.green {
  color: #36b37e;
}

.line {
  width: 48px;
  height: 4px;
  background-color: #36b37e;
}

.work-section {
  width: 86%;
  align-items: center;
  padding: 10px 15px 15px 10px;
}

.hide {
  display: none;
}

.mobile-text {
  margin-top: 30px;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  padding: 30px;
  color: black;
  text-decoration: none;
}

.mobile-text1 {
  margin-top: 40px;
}

.mobile-list {
  margin-top: 50px;
}

.mobile-menu-section {
  top: 0;
  left: 0;
  position: fixed;
  height: 90%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 100%;
  z-index: 100;
  background-color: white;
  font-family: "Inter", sans-serif;
}

.contactmargin {
  padding: 0.1px;
}

ul {
  padding-left: 0.1px;
  list-style: none;
}

.dash {
  position: fixed;
  bottom: 0;
  width: 25%;
  border-bottom: 4px solid #3a4a42;
  margin: 0;
  left: 37%;
}

.mobile-buttons {
  display: flex;
  justify-content: space-around;
}

.mobile-buttons .btn-secondary {
  border: 1px solid #36b37e;
  border-radius: 8px;
  background: #36b37e;
  color: white;
  width: 120px;
  padding: 5px;
  text-decoration: none;
  height: 27px;
  display: flex;
  margin-right: 5px;
  justify-content: space-around;
  align-items: center;
}

.full-section {
  width: 100%;
  height: 100%;
  margin-left: -8px;
  background-color: #e5e5e5;
  position: fixed;
}

.mobile-menu {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 15px;
  font-weight: 600;
  display: none;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.mobile-menu li {
  display: block;
  margin-bottom: 20px;
}

.mobile-menu a {
  text-decoration: none;
  color: #3a4a42;
  font-size: 25px;
  font-weight: 600;
}

.project-container {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

.project {
  border: 1px solid #d0d9d4;
  margin: 0;
  width: 369px;
  padding: 0;
  border-radius: 8px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s, 3s, 5s;
}

.image-placeholder img {
  width: 100%;
}

.recent {
  text-align: center;
  font-size: 50px;
  font-family: "Inter", sans-serif;
}

.image-placeholder {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  line-height: 110%;
  text-align: center;
  width: 100%;
  height: 200px;
  background-color: #d0d9d4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.btn {
  background-color: #36b37f;
  color: white;
  width: 122px;
  height: 48px;
  margin: 20px 0;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}

.two-columns h4 {
  width: 259px;
  height: 135px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

.btn:hover {
  background-color: #36b37f;
  box-shadow: 0.1px 8px 16px;
}

.btn:enabled {
  background-color: #36b37f;
}

.language {
  list-style: none;
  border: 1px solid #ebf0ee;
  padding: 5px;
  background-color: #ebf0ee;
  margin: 0 8px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #172b4d;
  border-radius: 4px;
}

.lang {
  display: flex;
  padding: 0;
}

.multi {
  text-align: center;
  font-size: 25px;
  margin: 5px 10px;
  font-family: "Inter", sans-serif;
}

.butt {
  text-align: center;
}

.dis {
  display: flex;
  justify-content: center;
}

#about {
  margin-top: 30px;
}

.about {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}

.about2 {
  text-align: center;
  padding: 15px 20px;
  font-size: 23px;
  background-image: url(./images/illustration\ 1-\ about\ me-mobile.png);
  background-repeat: no-repeat;
  background-position: top right;
  font-family: "Inter", sans-serif;
}

.butt2 {
  text-align: center;
  background-color: #36b37e;
  color: white;
}

.groupimg {
  display: flex;
  justify-content: flex-start;
}

.btn2 {
  text-align: center;
}

.project2 {
  border: 1px solid #c1c7d0;
  margin: 30px;
  padding: 20px 1px;
  height: 352px;
  width: 369px;
  background-color: #ebf0ee;
  font-family: "Inter", sans-serif;
}

.language-icon {
  display: flex;
  justify-content: center;
}

.lang-text {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.lang-text-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.li-lang {
  border: 5px solid #fff;
  background-color: #fff;
  color: #36b37e;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

.get {
  text-align: center;
  border: 2px solid #36b37f;
  background-color: #36b37f;
}

.last {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 20px;
  height: 189px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.touch {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  align-items: center;
  margin-bottom: 58px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.textareas {
  align-items: center;
  text-align: center;
}

.btn-resume {
  width: 159px;
}

.resume-container {
  background-image: url(./images/Group.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.skills-container {
  gap: 20px;
  justify-content: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

input {
  padding: 1px;
  margin-bottom: 24px;
  width: 300px;
  height: 48px;
}

textarea {
  padding: 0%;
  width: 305px;
  height: 114px;
  margin: 15px;
  margin-bottom: 24px;
}

.button {
  height: 50px;
  display: flex;
  justify-content: center;
}

.bottom-line {
  display: none;
}

.btn:active {
  background-color: #008552;
}

.contact-form {
  width: 55%;
}

.back-image {
  height: 131px;
  width: 100vw;
}

.placeholdermargin {
  padding: 0.1px 16px;
  margin-left: 24px;
  margin-right: 24px;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c1c7d0d7;
  width: 109vw;
  height: 109vh;
}

.display-centered {
  display: none;
}

.card {
  position: fixed;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  width: 100vw;
}

.card-image {
  position: absolute;
  height: 616px;
  left: 24px;
  top: 78px;
}

.card-body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  overflow-y: scroll;
}

.card-body img {
  width: 100%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.card-body .two-columns {
  flex-direction: row;
}

.card-body a img {
  width: 20px;
}

.hamburger-left {
  align-items: flex-end;
  margin-left: 250px;
}

.navigation {
  display: flex;
  width: 100vw;
}

.display-centered .btn-secondary {
  border: 1px solid #36b37e;
  border-radius: 8px;
  background: #36b37e;
  color: white;
  width: 110px;
  padding: 5px;
  text-decoration: none;
  height: 27px;
  display: flex;
  margin-right: 5px;
  justify-content: space-around;
  align-items: center;
}

.asscories .card-tags {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 0 20px;
  padding: 0;
}

.card-tags li {
  background-color: #ebecf0;
  color: #344563;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin-right: 8px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.card-header {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.card-header .close-button {
  width: 22px;
  height: 18px;
  background: #ebecf0;
  margin-right: 25px;
  margin-top: 15px;
}

.childs p {
  padding-left: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

@media (min-width: 768px) {
  .first {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
  }

  .first-img {
    display: none;
  }

  .second {
    background-image: url(./images/Header-llustration-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .childs p {
    padding-left: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .third {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    vertical-align: top;
    color: #172b4d;
  }

  .green {
    color: #36b37e;
  }

  .second h1 {
    margin: 0 0 24px 0;
  }

  .header-first {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }

  .card-header {
    display: flex;
    justify-content: flex-end;
  }

  .close-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 38px;
    margin-top: 62px;
  }

  .second-text {
    padding: 10px 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }

  .card {
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 15%;
    right: 15%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    height: 1083px;
  }

  .card-header .close-button {
    width: 40px;
    height: 40px;
    background: #ebecf0;
  }

  .socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    gap: 20px;
  }

  .card-body img {
    height: 60vh;
    width: 100%;
  }

  .card-body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    overflow-y: scroll;
  }

  .lang-text {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "Inter", sans-serif;
  }

  .lang-text-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .last {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    height: 189px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    line-height: 32px;
    margin-top: 17px;
  }

  .socials-list {
    width: 30px;
    height: 30px;
  }

  .disabled {
    height: 40px;
    width: 40px;
  }

  .recent {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }

  .project-container {
    display: flex;
    padding: 30px 30px;
  }

  .design-1 {
    gap: 32px;
  }

  .project {
    border: 1px solid green;
    margin: 0;
    width: 100%;
    padding: 0;
    border-radius: 8px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
  }

  .language-icon {
    display: flex;
    justify-content: center;
  }

  .about2 {
    text-align: center;
    font-size: 23px;
    background-image:
      url(./images/illustration-about\ me-1-desktop@2x.jpg),
      url(./images/illustration-about-me-2-desktop.png);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    background-size: 150px;
    width: 90vw;
  }

  .aboutme-container {
    width: 100vw;
    margin-top: 112px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .skills-container {
    display: flex;
    margin-top: 52px;
  }

  .project2 {
    border: 1px solid #c1c7d0;
    margin: 30px;
    padding: 20px 1px;
    height: 352px;
    width: 369px;
    background-color: #ebf0ee;
    border-radius: 10px;
  }

  .form-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 76%;
    margin: 80px auto 110px;
    background-image: url(./images/illustration-2-contact-form-desktop@2x.png);
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .two-columns h4 {
    font-size: 32px;
    width: 60%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    height: 82px;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form-description {
    width: 40%;
  }

  .contact-form {
    width: 55%;
  }

  input,
  textarea {
    width: 100%;
  }

  .new-background {
    background-image: url(./images/illustration-2-contact-form-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-left: 119px;
  }

  .work-section {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-text {
    width: 920px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .li-lang {
    border: 5px solid #fff;
    background-color: #fff;
    color: #36b37e;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
  }

  .aboutme section {
    display: flex;
    background-image: url(/images/illustration-about\ me-1-desktop@2x.jpg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .new section {
    display: flex;
  }

  .touch {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    text-align: center;
    align-items: center;
    font-weight: 700;
    line-height: 52px;
    height: 256px;
    color: #172b4d;
  }

  .button {
    height: 50px;
    display: flex;
    justify-content: flex-start;
  }

  .contact {
    display: flex;
    background-image:
      url(./images/illustration-1-contact-form-desktop.png),
      url(./images/contact\ form-illustratoin-3-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
  }

  .btn {
    background-color: #36b37f;
    color: white;
    width: 159px;
    height: 48px;
    margin: 20px 0;
    font-size: 17px;
    border: none;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #36b37f;
    box-shadow: 0.1px 8px 16px;
  }

  .btn:active {
    background-color: #008552;
  }

  .bottom-line {
    display: flex;
    color: #d0d9d4;
  }
}

@media (min-width: 768px) {
  .design-new {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .card-body img {
    height: 60vh;
    width: 100%;
  }

  .design-new .project {
    display: flex;
    width: 30%;
    height: 474px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .design-new .image-placeholder {
    height: 250px;
  }

  .mobile-buttons {
    display: none;
    justify-content: space-around;
  }

  .mobile-buttons .btn-secondary {
    border: 1px solid #36b37e;
    border-radius: 8px;
    background: #36b37e;
    color: white;
    width: 120px;
    padding: 5px;
    text-decoration: none;
    height: 27px;
    display: flex;
    margin-right: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .display-centered {
    display: flex;
  }
}
